<footer style=" background-color:aliceblue" class="footer border-top text-muted">
	<div class="container">
		&copy; 2024 - MyMicroBlog - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
</div>
</footer>